.CountButton {
	width: 180px;
	height: 80px;

	text-transform: uppercase;
	font-weight: bold;
	font-size: x-large;

	border-radius: 10px;
	border-width: medium;
	border-color: black;
}

.AddButton {
	color: black;

	background-color: #fda108;
}

.SubtractButton {
	color: white;

	background-color: #0e6f1b;
}
