.App {
  text-align: center;
}

.AppDiv {
  text-align: center;
  font-size: '100px';
  background-color: #00C853;
  width:100px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
